.count-font {
    font-weight: bold;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    line-height: 60px;
    font-size: 30px;
}

/*.results {
  position:absolute;
  z-index:2;
  top:0;
}*/

.slide-rez {
  padding-top:1em;
}

.results_logo {
  opacity: 0.3;
  z-index: -1;
}

.upload-progressbar {
  background-color: #7EC6C3;
}

.btn-upload {
  /*text-align: center;*/
  color: #F7FBFA;
  margin-top: 10px;
  /*float: right;*/
  background-color: #7EC6C3;
  border-color: #46b8da;
  padding: 20px 20px;
  width: 25em;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  /*position: relative;*/
}

.content {
    padding-top:4em;
}

.logo-small {
  position: relative;
  top: -1.5em;
}

.info {
  border: 0;
  border-top: 2px solid #000;
  padding-top: 10px;
}

.file-upload {
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0;
  background-color:transparent;
  color:transparent;
  height: 100%;
  width: 100%;
}
