.count-font {
    font-weight: bold;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    line-height: 60px;
    font-size: 30px;
}

/*.results {
  position:absolute;
  z-index:2;
  top:0;
}*/

.slide-rez {
  padding-top:1em;
}

.feedback-box{
  padding: 20px;
}

.results_logo {
  opacity: 0.3;
  z-index: -1;
}

.upload-progressbar {
  background-color: #7EC6C3;
}

.btn-upload {
  /*text-align: center;*/
  color: #F7FBFA;
  margin-top: 10px;
  /*float: right;*/
  background-color: #7EC6C3;
  border-color: #46b8da;
  padding: 20px 20px;
  width: 25em;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  /*position: relative;*/
}

.nice-yellow{
  background-color: #FAFFCB;
}

.textarea-feedback{
  border:0px;
  border-radius:6px;
  border-bottom-left-radius:0em;
  border-bottom-right-radius:0em;
}
.btn-feedback{
  outline: 10px;
  outline-offset: 100px;
  color: #F7FBFA;
  background-color: #7EC6C3;
  border-color: #46b8da;
  border-top-left-radius:0em;
  border-top-right-radius:0em;
  /*margin: 10px;*/
}

.validator-danger {
  color: #ffffff;
  padding: 1px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  background-color: #D67741;
  border-color: #d43f3a;
}
.content {
    padding-top:4em;
}

.logo-small {
  position: relative;
  top: -1.5em;
}

.info {
  border: 0;
  border-top: 2px solid #000;
  padding-top: 5px;
  margin-top: 10px;
}

.file-upload {
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0;
  background-color:transparent;
  color:transparent;
  height: 100%;
  width: 100%;
}
