<div>

  <div class="row">
    <div class="col-md-offset-2 col-md-2">
        <a class="pull-right logo-small pull  -left" href="/">
            <img src="/static/img/logo-small.png"
                 alt="Slidelint" />
        </a>
    </div>
    <div class="col-md-7 text-left">
      <h1>
        Thanks for using slidelint!
      </h1>
      <h4 class="text-left text-info">Please wait, your presentation is being processed</h4>
    </div>
  </div>


  <div class="row">
    <div class="col-md-offset-2 col-md-7">
      <div class="{{uploading_progress!=100 && 'lead text-primary' || 'text-muted'}}">
        Uploading in progress:
        <div class="progress progress-striped {{uploading_progress==100 && 'mutted' || 'active'}}">
          <div class="progress-bar upload-progressbar"
               role="progressbar"
               aria-valuenow="{{uploading_progress}}"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: {{uploading_progress}}%;">
          </div>
        </div>
      </div>
      <div class="{{uploading_progress==100 && 'lead text-primary' || 'text-muted'}}">
        <div>
          <p>
            {{uploading_complete}}
            <img ng-show="uploading_progress==100" src="/static/img/wait-animated.gif"/>
            <img ng-show="uploading_progress!=100" src="/static/img/wait-static.gif"/>
            Presentation checking may take a while, be patient...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
